.project{
    width: 250px;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
}

.project-container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.project > img{
    border-radius: 20px;
}


.project > h2{
    text-align: center;
    margin-top: 10px;
}

.project > p{
    text-align: center;
    margin-top: -10px;
}

a{
    color: rgb(150, 150, 150);
}

a:visited{
    color: rgb(150, 150, 150);
}